name: Build Veyon Step 1 - Configure (Stable Qt Installer)

on:
  workflow_dispatch:
  push:
    branches: [ "*" ]

jobs:
  windows:
    runs-on: windows-2022

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Download Qt Online Installer
      run: |
        powershell -Command "Invoke-WebRequest -Uri https://download.qt.io/official_releases/online_installers/qt-unified-windows-x86-online.exe -OutFile qt-installer.exe"

    - name: Install Qt 5.15.2
      run: |
        qt-installer.exe --script qt-installer-noninteractive.qs

    - name: Set Qt Environment
      run: |
        echo "C:\\Qt\\Qt5.15.2\\5.15.2\\msvc2019_64\\bin" >> $env:GITHUB_PATH
        setx Qt5_DIR "C:\\Qt\\Qt5.15.2\\5.15.2\\msvc2019_64\\lib\\cmake\\Qt5"

    - name: Show environment
      run: |
        echo %PATH%
        where cl
        cmake --version
        qmake -version

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -G "Visual Studio 16 2019" -A x64 -DVEYON_BUILD_WIN32=ON
