name: Build Veyon (Windows MSVC)

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Install Qt 5.15.2 (MSVC 2019)
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2'
        arch: 'win64_msvc2019_64'
        modules: 'qtbase qttools qttranslations'
        cache: true

    - name: Install dependencies (OpenSSL)
      run: |
        choco install openssl --version=1.1.1.2100 -y

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. ^
          -G "Visual Studio 16 2019" ^
          -A x64 ^
          -DCMAKE_BUILD_TYPE=Release ^
          -DVEYON_BUILD_WIN32=ON ^
          -DVEYON_BUILD_SERVICE=ON

    - name: Build
      run: |
        cmake --build build --config Release --parallel

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: veyon-windows-build
        path: build
